@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --background: rgb(24,24,24);
    --segundobackground: rgb(21,21,21);
    --terceirobackground: #282A36;
}

body {
    min-height: 100vh; 
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #063564,#0A58A4);
    font-weight: bolder;
    color: white;
    padding: 4px; 
}

header > p {
    margin-left: 5%;
    margin-right: 5%;
}
#imagenstopo {
    display: flex;
    margin-top: -70px;
    margin-left: 1200px;
    justify-content: right;
    width: 600px;
    gap: 20px;
}

#imglub {
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-top: 20px;
    width: 280px;
}

#imglubrificante {
    width: 260px;
    height: 40px;
}
#imgtexaco {
    height: auto;
    width: 260px;
}

#navegacao {
    margin-left: 90px;
    margin-top: 30px;
    width: 1700px;

}

ul {
    display: flex;
    margin-left: 30px;
    margin-top: -10px;
    flex-direction: row;
    justify-content: left;
    gap: 50px;
}


#navegacao a {
    display: inline-block;
    font-weight: 600;
    color: rgba(105, 105, 105, 0.76);
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s ease-in-out;
}


#navegacao a:hover {
    transform: rotate(10px,10px);
    transform: translate(-3px, -5px);
}

#redesocial {
    display: flex;
    justify-content: right;
    gap: 30px;
    margin-top: -34px;
    margin-right: 110px;
    font-size: 40px;
    color: #0A58A4;

}

h1 {
    text-align: center;
    font-size: 3.5em;
    color: #063564;
}
h2 {
    color: rgba(97, 97, 97, 0.877);
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 6%;
}

#categorias {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1700px;
    height: 1430px;
    background-color: rd;
    overflow: hidden;
}

#carro {
    width: 950px;
}

#caminhao {
    margin-top: -355px;
    height: 400px;
    margin-left: 980px;
    width: 1000px;
}
#moto {
    margin-left: -550px;
    width: 1185px;
}
#agricola {
    margin-top: -400px;
    margin-left: 980px;
    width: 800px;
    height: 400px;
}
#posto {
    margin-bottom: -90px;
    margin-top: 30px;
    width: 100%;
    height: 600px;
}
#textofoto {
    position: absolute;
    background-color: white;
    top: 809px;
    left: 764px;
    width: 285px;
    height: 423px;
    text-align: center;
    padding: 35px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.082);
    margin-top: 24px;
}
#textofoto p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: #0b4986;
    font-weight: bold;
}

#seta {
    position: absolute;
    top: 340px;
    right: 10px;
    font-size: 70px;
    color: #0b4986;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.377);
}

#seta:hover {
    transition: 0.4s ease-in-out;
    transform: translate(12px, -1px);
}

#texto {
    margin: auto;
    width: 900px;
}

.formmae {
    display: flex;
    gap: 5px;
    height: 30px;
    justify-content: center;
}

.material-symbols-outlined{
    display: flex;
    margin-top: 3px;
    margin-right: 10px;
    color: rgba(128, 128, 128, 0.644);
    pointer-events: none;
    position: absolute;

}

#search {
    display: flex;
    justify-content: right;
    margin-top: -20px;
    margin-right: 350px;
}
input[type="search"]{
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    height: 30px;
    border: 2px solid rgba(128, 128, 128, 0.644);
    text-align: center;
}
 input[type="submit"] {
    width: 100px;
    
 }
 input[type="reset"] {
    width: 100px;
 }


#zaplogo {
    font-size: 23px;
}

::-webkit-scrollbar {
    background: white;
    width: 23px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #0A58A4, #063564);
}

#redesocial a {
    color: #0A58A4;
}


hr {
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-top: 50px;
    width: 1700px;
    border: 1px solid rgba(128, 128, 128, 0.425);
}

